# CWars Environment Variables
# Copy this file to .env and update with your values

# Database Passwords
USER_DB_PASSWORD=changeme_user_password
GAME_DB_PASSWORD=changeme_game_password

# PgAdmin (Dev only)
PGADMIN_EMAIL=admin@cwars.local
PGADMIN_PASSWORD=changeme_admin
